<html>
<head>
<title>SIJ</title>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8" />
<META name="Author" CONTENT="Abdechakour" />


</head>
<body>
<a href="{{ ExportToPdf('SijPdfBundle:Reporting:invoice.html.twig','name="abdechakour" age="12"','invoicey') }}">generate pdf</a>
</body>
</html>