<html>
<head>
<title>SIJ</title>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8" />
<META name="Author" CONTENT="Abdechakour" />


</head>
<body>
<a href="{{ path('sij_pdf_render', { 'view': 'SijPdfBundle:Reporting:invoice.html.twig','params':'name="abdechakour" age="12"','name':'invoicey' }) }}">
generate pdf
</a>
</body>
</html>